* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7; /* Light gray background */
}

button {
  padding: 0.5rem 1.5rem; /* Increased padding */
  margin: 0.2rem;
  font-weight: bold;
  color: white; /* Changed text color to white */
  text-transform: uppercase;
  outline: none; /* Removed outline */
  border-radius: 5px;
  cursor: pointer;
  background-color: #333; /* Dark gray background */
  border: 2px solid #333; /* Matching border color */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

button:hover {
  background-color: #555; /* Darker gray on hover */
}

a {
  text-decoration: none;
  color: #333; /* Dark gray link color */
}

.EmployeeTable {
  padding: 1rem;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table tbody tr {
  background-color: #ecf0f1; /* Lighter background color */
}

table tbody tr:nth-child(even) {
  background-color: #d5e8ed; /* Light blue background for even rows */
}

table td,
table th {
  padding: 0.5rem;
}

table button {
  padding: 0.5rem 1.5rem; /* Adjusted button padding */
  margin: 0.2rem;
}

form {
  display: grid;
  font-size: 1.4rem; /* Slightly increased font size */
}

.answers {
  border-bottom:1px solid #333;
  list-style: none;
}

.answerList {
  margin-top: 70px;
}

.control {
  width: 100%;
  padding: 1.5rem; /* Increased padding */
  display: grid;
  gap: 0.5rem;
}

.buttons {
  font-size: 1.4rem; /* Slightly increased font size */
  padding: 1.5rem; /* Increased padding */
}

.control input,
.control select {
  font-size: 1.4rem; /* Slightly increased font size */
  padding: 0.7rem; /* Adjusted input padding */
}

.control .checkbox,
.control .radio {
  display: flex;
  gap: 0.7rem; /* Increased gap */
  align-items: center;
  padding: 0.5rem;
}

.grow {
  flex: 1;
}
